
body{
    margin: 0;
    padding: 0;
    
}
header{
    width: 100%;
    height: 80px;
    position: absolute; 
    background: black; 
    border-bottom: 6px #FDAB84 solid;
    z-index: 34;
}


h1{
    width: 180px; 
    height: 73px; 
    left: 15px; 
    top: 5px; 
    position: absolute; 
    color: #FDAB84; 
    font-size: 40px; 
    font-family: Gideon Roman; 
    font-weight: 400; 
    word-wrap: break-word
}

h2{
    width: 531px; 
    height: 61px; 
    left: 15px; 
    top: 45px; 
    position: absolute; 
    color: #FDAB84; 
    font-size: 20px; 
    font-family: Encode Sans Expanded; 
    font-weight: 400; 
    word-wrap: break-word
}

.box-header img{
    width: 65px; 
    height: 65px; 
    right: 10px; 
    top: 8px; 
    position: absolute
}

.box-header a{
    text-decoration: none;
}

.login{
    width: 70px; 
    height: 20px; 
    right: 90px; 
    top: 30px; 
    position: absolute; 
    color: #FDAB84; 
    font-size: 20px; 
    font-family: Encode Sans Expanded; 
    font-weight: 400; 
    word-wrap: break-word;
    transition: all 0.4s;
    

}
.login:hover{
    color: #d8794d;
    font-size: 22px;
    
}
/* fin primer header*/

.list-selection{
    width: 100%;
    height: 42px;
    top: 85px; 
    position: absolute; 
    background: black;
    position: absolute;
}


.list-selection li{
    display: inline;
    margin: 0 0 0 35px;
    
}
.inicio{
    left: 10px;
}

.list-selection ul{
    margin-top: 10px;
}

nav a{
    text-transform: uppercase;
    color: #FDAB84;;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.5s;

}
nav a:hover{
    color: #C78C19;
    font-size: 22px;
    
}

main{
    background-color: #003746;
    width: 100%;
    height: 100vh;
    left: 0; 
    top: 0; 
    position: absolute
}
.box{
    width: 50vw;
    height: 64vh;
    top: 150px;
    left: 24vw;
    background: black;
    position: absolute;
    border-radius: 48px;
}