/* MainSection.css */

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* Ajusta para ocupar toda la altura de la ventana */
    overflow: hidden;
    /* Asegura que nada se salga del contenedor */
    margin: 0;
    /* Elimina márgenes por defecto */
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* Ajusta para cubrir todo el contenedor */
    z-index: -1;
    /* Coloca la imagen detrás del contenido */
}

div.content {
    position: relative;
    text-align: center;
    /* Centra el texto y el botón */
    color: white;
    /* Cambia el color del texto si es necesario para la visibilidad */
    z-index: 1;
    /* Asegura que el contenido esté sobre la imagen */
    
}

.mensaje {
    
    font-size: 2rem;
    /* Ajusta según sea necesario */
    margin: 1rem;
    color: #fff;
}

.submensaje {
    font-size: 1.5rem;
    /* Ajusta según sea necesario */
    margin: 0.9rem;
    opacity: 0.6;
    color: #fff;
}

.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDAB84;
    /* Ajusta según sea necesario */
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    margin: 2rem;
    margin-top: 10vh;
    /* Espacio arriba del botón */
    transition: all 0.3s ease; /* Transición suave para los cambios */
}

.boton:hover {
    background-color: #e6896e; /* Cambia a un tono más oscuro al pasar el cursor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Añade una sombra sutil */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
}

.texto-boton {
    font-size: 1.2rem;
    /* Ajusta según sea necesario */
    color: #fff;
    /* Color del texto del botón */
    margin: 0;
    font-weight: bold;
}
